body {
	text-align: center;
	background-color: white;
}

h1 {
	color: white;
}


  /* navbar background colour */
.navbar {
	background-color:#548CA8 ;
}

  /*navbar text color white*/
.navbar-nav {
	color: white;
}

     /* css for that 4 photos with .img class */
.img {
	
	height: 300px;
	width: 310px;
	align-self: center;
	border-radius: 5px;
	border: 1px  solid black;
	margin-top: 10px;
	margin-bottom: 5px;
	box-shadow: 0 5px 5px 0 black;
}


   /*  id for topmost caorasol is agenda  */
#agenda {
	background-color:white ;
	margin-top: 50px;
	text-align: center;
	color: #fff;
	
	bottom: 200px;

}




/*last section*/
.last {
	position: relative;
	text-align: center;
	width: 95%;
margin: 5px auto 50px auto;
}

.content-lg-last {


	position: absolute;
 left: 5%;
  bottom: 0; 
  background-color: #548CA8 ; 
 opacity: 0.7;
  color: #f1f1f1; 
  width: 90%;
   
  padding: 20px; 

}











  /*middle*/
.col-img {
	position: relative;
}

.content {
  position: absolute;
  bottom: 10px; 
  background-color: #548CA8 ; 
 opacity: 0.7;
  color: #f1f1f1; 
  width: 310px; 
  padding: 20px; 
}


.img {
	
	height: 300px;
	width: 310px;
	align-self: center;
	border-radius: 5px;
	border: 1px  solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 2px 6px 6px 2px black;
}

.middle {
	margin: 50px;
}











/*  agenda */
  /*   position of that whole section is done relative so that bottom div cab be adjusted according to the alignment 
  its bottom is done 0 so that margin bottom cna be put to 0;*/
.carousel-inner {
	position: relative;
}
.content-lg {

  
 position: absolute;
 left: 5%;
  bottom: 0; 
  background-color: #548CA8 ; 
 opacity: 0.7;
  color: #f1f1f1; 
  width: 90%;
   
  padding: 20px; 

}




.large-img {
	
	width: 90%;
	height: 500px;
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: 0 5px 5px 5px black;

}




/*media curie*/
    /* media curie is for adjusting layout property due to change of screen size it max width to 992 witch is taablet size 
    below it will change all the property to the selected classes as below  */
@media(max-width: 992px)
{

.large-img {
	width: 90%;
	height: 300px;
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: 0 5px 5px 0 black;

}



.content {
  position: absolute;
  bottom: 10px; 
  background-color: #548CA8 ; 
 opacity: 0.7;
  color: #f1f1f1; 
  width: 330px; 
  padding: 20px; 
}

.img {
	
	height: 300px;
	width: 330px;
	align-self: center;
	border-radius: 5px;
	border: 1px  solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 2px 6px 6px 2px black;
}




}